

*{
 
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}


.logo-img{
  width: 19%;
  height:70px;
}

.header{
    width: 100%;
    height: 15vh;
    background-color:#f0f0f0;
    position: relative;
}
body{
  background-color:#f0f0f0;

}
.wrpper{ 
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%,-50%);
}

.wrpper .nvbar{
  width: 15F0px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
  border-radius: 5px;
}

.wrpper .nvbar ul li a{
  color: #644def;
}

.wrpper .nvbar .left ul,
.wrpper .nvbar .rightt ul li a{
  display: flex;
  align-items: center;
  height: 40px;
}

.wrpper .nvbar .left ul li{
  margin: 0 10px;
}

.wrpper .nvbar .right a{
  text-align: right;
}

.wrpper .nvbar .rightt ul li{
  position: relative;
}

.wrpper .nvbar .rightt ul li .drpdown{
  position: absolute;
  top: 65px;
  right: 0;
  background: #fff;
  padding: 10px 25px;
  border-radius: 5px;
  display: none;
}

.wrpper .nvbar .rightt ul li .drpdown .fas{
  margin-right: 10px;
}

.wrpper .nvbar .rightt ul li .drpdown:before{
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  border: 10px solid;
  border-color: transparent transparent #fff transparent;
}

.wrpper .nvbar .rightt ul li.active .drpdown{
  display: block;
}
